@import url('./details.css');
@import url('./item.css');
@import url('./item-img.css');
@import url('./button.css');

:root {
  --body1-regular: 400 1rem/1.5rem Poppins;
  --body1-bold: 700 1rem/1.5rem Poppins;
  --white: #ffffff;
  --blue: #00A2FF;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 418px);
  grid-auto-rows: 40px;
  gap: 1rem;
  max-inline-size: 1366px;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 234.67px);
    grid-auto-rows: 15px;
    max-inline-size: 768px;
    padding: 1rem;
  }

  .buttonDetails {
    font-size: 10px;
  }

}

@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 161px);
    grid-auto-rows: 7px;
    max-inline-size: 370px;
    padding: 1rem;
  }

  .item {
    grid-area: span 8;
  }

  .buttonDetails {
    font-size: 7px;
    padding-inline: .5rem;
    padding-block: .2rem;
  }
}

@media (max-width: 300px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-auto-rows: 5px;
    max-inline-size: 250px;
    padding: .8rem;
  }

  .item {
    grid-area: span 10;
  }
}